{% extends 'base.html' %}
{% load static %}
{% block extra-css %}
    <link rel="stylesheet" href="{% static 'css/planted-trees.css' %}">
{% endblock %}

{% block content %}
    <div class="page-description">
        <div class="left-side">
            Welcome, {{ user.username }}!
        </div>
        <div class="right-side">
            <p>See all the trees you and your friends have planted!</p>
        </div>
    </div>

    <div class="user-trees">
        <table>
            <tr>
                <th> Tree Name </th>
                <th> Planted At </th>
                <th> Planted By </th>
                <th> Linked Account </th>
                <th> Details Link </th>
            </tr>
            {% for planted_tree in planted_trees %}
                <tr>
                    <td> {{ planted_tree.tree.name }} </td>
                    <td> {{ planted_tree.planted_at }} </td>
                    <td class="align-center">
                        {{ planted_tree.user.username }}
                    </td>
                    <td class="align-center">
                        {{planted_tree.account.name }}
                    </td>
                    <td class="align-center"> 
                        <a href="{% url 'planted-tree-detail' planted_tree.id %}">View Tree</a>
                    </td>
                </tr>
            {% endfor %}
        </table>

        <div class="add-button">
            <a href="{% url 'add-planted-tree' %}">Register Planted Tree</a> 
        </div>
    </div>
{% endblock %}