{% extends 'base.html' %}
{% load static %}
{% block extra-css %}
    <link rel="stylesheet" href="{% static 'css/planted-trees.css' %}">
{% endblock %}

{% block content %}
    <div class="page-description">
        <div class="left-side">
            Welcome, {{ user.username }}!
        </div>
        <div class="right-side">
            <p>Complete the form below to register a new Planted Tree!</p>
        </div>
    </div>

    <div class="form-wrapper">
        {{ form.as_p }}
    </div>
{% endblock %}