<html>
    <title> Planted Trees! </title>
    <body>
        Essa é a página de Planted Trees!
        <br/>
        E esse é o usuário logado: {{ user }}
        <br/>
        E esse é o username do usuário logado: {{ user.username }}
        <br/>
        E esse é o email do usuário logado: {{ user.email }}

        <div>
            <a href={% url 'logout' %}>
                Clica aqui pra deslogar
            </a>
        </div>

        Trees Planted by User
        <ul>
            {% for tree in user_trees %}
                <li>
                    {{ tree }}
                </li>
            {% endfor %}
        </ul>

        Trees Planted by User's Friends
        <ul>
            {% for tree in account_trees %}
                <li>
                    {{ tree }}
                </li>
            {% endfor %}
        </ul>
    </body>
</html>
