{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>
            Trees Everywhere - Landing Page
        </title>
        <link rel="stylesheet" href="{% static 'css/reset-style.css' %}" />
        <link rel="stylesheet" href="{% static 'css/header-style.css' %}" />
        <link rel="stylesheet" href="{% static 'css/landing-style.css' %}" />
    </head>

    <body>
        <header class="page-header">
            <div class="topnav">
                <a href="{% url 'landing_page' %}" class="active">Home</a>
                <a href="{% url 'login' %}">Login</a>
            </div>
        </header>

        <main class="landing-container">
            <div class="welcome-message">
                Welcome to TreesEverywhere project!
            </div>

            <div class="login-invite">
                Wanna login? <a href={% url 'login' %}> Click Here! </a>
            </div>
        </main>
    </body>
</html>
